
<div class="action card">
    <div class="title card-header">{{ action.title }}</div>
    <div class="description card-text">{{ action.description }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" clrForm>
        <div *ngIf="action.userParas">
            <select *ngFor="let para of action.userParas" type="text" [formControlName]="para.label">
                <option value="">...</option>
                <option *ngFor="let value of para.options" [value]="value">{{value}}</option>
            </select>
        </div>
        <button type="submit" class="btn" [disabled]="!form.valid">Submit</button>
    </form>
</div>
