<clr-main-container [ngClass]="{'floating':ui.floating}">
  <ukis-header [ukis-title]="title" [ukis-short-title]="shortTitle" [ukis-version]="version">
    <a *ngFor="let route of routes" routerLink="/{{route.path}}" routerLinkActive="active"
      class="nav-link nav-text header-nav-el">{{route.data?.['title']}}</a>
  </ukis-header>
  <ukis-global-alert *ngIf="ui.alert" [(alert)]="ui.alert"></ukis-global-alert>
  <ukis-global-progress *ngIf="ui.progress" [(progress)]="ui.progress"></ukis-global-progress>
  <router-outlet></router-outlet>
</clr-main-container>
